/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: #f5f5f5;
}


h1 {
    font-weight: 500;
}

/* Vizual */
.zbozi {
    display: flex;
    width: 670px;
    height: 440px;
    margin: 100px;
}
.vizual {
    background-image: linear-gradient(#06d7c1, #50cc49);
    color: white;
    border-radius: 20px 0 0 20px;
    position: relative;
    width: 335px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slogan {
    font-size: 16px;
    font-weight: 500;
}
.cena {
    font-size: 28px;
    font-weight: 500;
}
.zaruka {
    font-size: 12px;
    font-weight: 400;
}
.bota {
    position: absolute;
    top: 135px;
    left: -80px;
}
.cenovka {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.vnoreny {
    display: flex;
    flex-direction: column;
}

/* detaily */
.detaily {
    background-color: white;
    border-radius: 0 20px 20px 0;
    padding: 30px;
    box-shadow: 1px 1px 10px #959595;
    width: 335px;
}
.nazev {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.produkt, .popis, .velikosti, .akce, .parametr {
    font-size: 14px;
    font-weight: 400;
}
.popis {
    border-top: none;
    border-bottom: #06d7c1;
    border-width: 2px;
    border-style: none none solid none;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.produkt {
    color: #959595;
}
.parametr {
    text-transform: uppercase;
}
.velikosti {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 80px;
}
.tlacitko {
    text-transform: uppercase;
    background-color: #f15f42;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 25px;
}
li {
    display: inline;
}
.vybrana {
    color: #f15f42;
    border-radius: 50px;
    border-color: #f15f42;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
}
